<h2> Apply for Leave </h2>

<form name='newContact' novalidate class='form-horizontal'>
    <form-field record='contact' field='reason' live='false' required='true'></form-field>
    <form-field record='contact' field='dateFrom' live='false' required='true'></form-field>
    <form-field record='contact' field='dateTo' live='false' required='true'></form-field>
    <form-field ng-repeat='(k,v) in contact | keyFilter: "dateFrom" | keyFilter: "dateTo" | keyFilter: "reason" ' record='contact' field='{{k}}'></form-field> 

    <!--<new-field record='contact' live='false'></new-field>-->

    <div class='row form-group'>
        <div class='col-sm-offset-2'>
            <button class='btn btn-primary' ng-click='save()'> Apply for leave </button>
        </div>
    </div>
</form>
